@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Ark Pixel Fuse SC";
  src: url("/fonts/fusion-pixel-10px-proportional-zh_hans.woff2");
}

@font-face {
  font-family: "Scientifica";
  src: url("/fonts/scientifica.woff2");
}

@font-face {
  font-family: "Scientifica";
  font-weight: bold;
  src: url("/fonts/scientifica-bold.woff2");
}

@font-face {
  font-family: "Scientifica";
  font-style: italic;
  src: url("/fonts/scientifica-italic.woff2");
}

:root {
  --rosewater: #dc8a78;
  --flamingo: #dd7878;
  --pink: #ea76cb;
  --mauve: #8839ef;
  --red: #d20f39;
  --maroon: #e64553;
  --peach: #fe640b;
  --yellow: #df8e1d;
  --green: #40a02b;
  --teal: #179299;
  --sky: #04a5e5;
  --sapphire: #209fb5;
  --blue: #1e66f5;
  --lavender: #7287fd;
  --text: #4c4f69;
  --subtext1: #5c5f77;
  --subtext0: #6c6f85;
  --overlay2: #7c7f93;
  --overlay1: #8c8fa1;
  --overlay0: #9ca0b0;
  --surface2: #acb0be;
  --surface1: #bcc0cc;
  --surface0: #ccd0da;
  --base: #eff1f5;
  --mantle: #e6e9ef;
  --crust: #dce0e8;
}

@media (prefers-color-scheme: dark) {
  :root {
    --rosewater: #f5e0dc;
    --flamingo: #f2cdcd;
    --pink: #f5c2e7;
    --mauve: #cba6f7;
    --red: #f38ba8;
    --maroon: #eba0ac;
    --peach: #fab387;
    --yellow: #f9e2af;
    --green: #a6e3a1;
    --teal: #94e2d5;
    --sky: #89dceb;
    --sapphire: #74c7ec;
    --blue: #89b4fa;
    --lavender: #b4befe;
    --text: #cdd6f4;
    --subtext1: #bac2de;
    --subtext0: #a6adc8;
    --overlay2: #9399b2;
    --overlay1: #7f849c;
    --overlay0: #6c7086;
    --surface2: #585b70;
    --surface1: #45475a;
    --surface0: #313244;
    --base: #1e1e2e;
    --mantle: #181825;
    --crust: #11111b;
  }
}

@layer utilities {
  .pixelated {
    image-rendering: pixelated;
  }

  .font-pixel {
    font-family: "Ark Pixel Fuse SC", "Noto Serif CJK SC", "SimSun";
  }

  .font-pixel-mono {
    font-family: "Scientifica", "Fira Code", "Consolas", "Ark Pixel Fuse SC";
  }

  .border-pixel {
    border-image: url(/border-light-1px.webp) 3 round;
    image-rendering: pixelated;
    border-style: solid;
    border-width: 12px;
  }

  @media (prefers-color-scheme: dark) {
    .border-pixel {
      border-image: url(/border-dark-1px.webp) 3 round;
    }
  }
}

@layer components {
  .pixel-link {
    @apply text-[var(--pink)] hover:underline;
    @apply before:content-['['] before:opacity-0 before:transition-opacity;
    @apply after:content-[']'] after:opacity-0 after:transition-opacity;
    @apply before:hover:opacity-100 after:hover:opacity-100;
  }

  .icon-close {
    background-image: url(/close-light.webp);
    @apply bg-no-repeat bg-cover pixelated w-[48px] h-[48px];
  }

  .icon-menu {
    background-image: url(/menu-light.webp);
    @apply bg-no-repeat bg-cover pixelated w-[48px] h-[48px];
  }

  .pixel-ul {
    image-rendering: pixelated;
    margin-left: 1em;
    list-style-image: url(/bullet-1-light.webp);
  }

  @media (prefers-color-scheme: dark) {
    .icon-close {
      background-image: url(/close-dark.webp);
    }

    .icon-menu {
      background-image: url(/menu-dark.webp);
    }

    .pixel-ul {
      list-style-image: url(/bullet-1-dark.webp);
    }
  }
}

html {
  color-scheme: light;
  color: var(--text);
  background-color: var(--base);
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
    color: var(--text);
    background-color: var(--base);
  }
}

body {
  font-size: calc(15px + 0.390625vw);
}

.md-body {
  a {
    color: var(--pink);
  }

  a:hover {
    text-decoration: underline;
  }

  a::before {
    content: "[";
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  a::after {
    content: "]";
    opacity: 0;
    transition: opacity 0.2s cubic-bezier(0.215, 0.61, 0.355, 1);
  }

  a:hover::before {
    opacity: 1;
  }

  a:hover::after {
    opacity: 1;
  }

  .katex-display {
    overflow-x: auto;
    overflow-y: hidden;
  }

  p {
    margin-top: 1em;
    margin-bottom: 1em;
  }

  h1 {
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-size: 2rem;

    &::before {
      content: "# ";
    }
  }

  h2 {
    font-size: 1.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;
  }

  code {
    font-family: "Scientifica", "Fira Code", "Consolas", "Ark Pixel Fuse SC";
  }

  .astro-code {
    border-image: url(/border-light-1px.webp) 3 round;
    border-width: 12px;
    image-rendering: pixelated;
    padding: 0.5rem;
    line-height: 1;
  }

  ol {
    list-style-type: decimal;
    margin-left: 1em;
  }

  ul {
    image-rendering: pixelated;
    margin-left: 1em;
    list-style-image: url(/bullet-1-light.webp);
  }

  table {
    width: 100%;
    border-collapse: collapse;
    border: 4px solid var(--surface2);
    image-rendering: pixelated;
  }

  th {
    border-bottom: 4px solid var(--surface2);
  }

  @media (prefers-color-scheme: dark) {
    ul {
      list-style-image: url(/bullet-1-dark.webp);
    }
  }

  blockquote {
    border-left: 4px solid var(--text);
    padding-left: 1em;
    font-style: italic;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  @media (prefers-color-scheme: dark) {
    .astro-code,
    .astro-code span,
    .shiki,
    .shiki span {
      color: var(--shiki-dark) !important;
      background-color: var(--shiki-dark-bg) !important;
      /* Optional, if you also want font styles */
      font-style: var(--shiki-dark-font-style) !important;
      font-weight: var(--shiki-dark-font-weight) !important;
      text-decoration: var(--shiki-dark-text-decoration) !important;
    }

    .astro-code {
      border-image: url(/border-dark-1px.webp) 3 round;
      image-rendering: pixelated;
    }
  }
}
