---
import PixelBorder from "./PixelBorder"
---

<PixelBorder tag="footer" className="px-4 py-2 blog-font-pixel">
  <p>
    <span>All content on this site is licensed under </span>
    <a
      href="https://creativecommons.org/licenses/by-nc/4.0/?ref=chooser-v1"
      target="_blank"
      rel="license noopener noreferrer"
      class="inline-flex items-center"
    >
      <span class="mr-2">CC BY-NC 4.0</span>
      <img
        style={{
          display: "inline",
          height: "22px!important",
          marginLeft: "3px",
          verticalAlign: "text-bottom",
        }}
        src="https://mirrors.creativecommons.org/presskit/icons/cc.svg?ref=chooser-v1"
        alt=""
      />
      <img
        style={{
          display: "inline",
          height: "22px!important",
          marginLeft: "3px",
          verticalAlign: "text-bottom",
        }}
        src="https://mirrors.creativecommons.org/presskit/icons/by.svg?ref=chooser-v1"
        alt=""
      />
      <img
        style={{
          display: "inline",
          height: "22px!important",
          marginLeft: "3px",
          verticalAlign: "text-bottom",
        }}
        src="https://mirrors.creativecommons.org/presskit/icons/nc.svg?ref=chooser-v1"
        alt=""
      />
    </a>
  </p>
</PixelBorder>
