<style>
  header {
    color: var(--pink);
    border-image: url(/border-header-light.webp) 3 round;
    border-width: 16px;
    image-rendering: pixelated;
  }

  @media (prefers-color-scheme: dark) {
    header {
      border-image: url(/border-header-dark.webp) 3 round;
    }
  }
</style>

<header class="flex px-4 py-2 m-4 items-center justify-center font-pixel">
  <ul class="flex gap-4">
    <li class="text-2xl">
      <a class="pixel-link" href="/">Blog</a>
    </li>
    <li class="text-2xl">
      <a class="pixel-link" href="/learning">Learning</a>
    </li>
    <li class="text-2xl">
      <a class="pixel-link" href="/projects">Projects</a>
    </li>
  </ul>
  <div class="ml-4 flex">
    <slot name="tail" />
  </div>
</header>
