.pixelBorder {
  border-image: url(/border-light-1px.webp) 3 round;
  image-rendering: pixelated;
  border-style: solid;
  border-width: 12px;
}

@media (prefers-color-scheme: dark) {
  .pixelBorder {
    border-image: url(/border-dark-1px.webp) 3 round;
  }
}