<div class="blog-border-pixel flex items-center gap-8 justify-center">
  <div
    class="over-icon w-24 h-24 pixelated bg-[url(/over-light.webp)] dark:bg-[url(/over-dark.webp)] bg-cover"
  >
  </div>
  <div class="text-6xl text-[var(--red)]">TODO</div>
</div>
